RewriteEngine On

#if the file isn't in the static directory, then push this request to the dispatcher
RewriteCond %{REQUEST_URI} !^/static/
RewriteRule ^(.*)$ dispatcher.php [L]

#if this is a static file but doesn't verbatim exist, still push this to the dispatcher
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f
RewriteRule ^(.*)$ dispatcher.php [L]
