<ul>
	<li><strong>Josh Reichman</strong> - Project Manager - email: <a href="mailto: abcdefghijklmnopqrstuvwxyz@case.edu">abcdefghijklmnopqrstuvwxyz@case.edu</a></li>
	<li><strong>Jacob Goldberg</strong> - Backend Developer - email: <a href="mailto: maintenance@case.edu">maintenance@case.edu</a></li>
	<li><strong>Arbaz Ahmed</strong> - Database Administrator - email: <a href="mailto: arbaz@case.edu">axa800@case.edu</a></li>
	<li><strong>Steven Nyeo</strong> - Frontend Developer - email: <a href="mailto: cxn152@case.edu">cxn152@case.edu</a></li>
</ul>
