<h2>Edit Post</h2>
<br />

<form action="/forums/edit/<$(post_id)/>" method="post" enctype="multipart/form-data">
	<$(subject_line)/>
	<br />
	
	<textarea required="required" class="form-control" rows="10" cols="100" name="message"><$(post_content)/></textarea>
	
	<br /><br />
	<div align="center">
		<input class="btn btn-primary" name="submit_edit" type="submit" value="Submit Changes" />&nbsp;&nbsp;
		<input class="btn btn-danger" name="cancel_edit" type="submit" value="Discard" />
	</div>
</form>