<h2>Forgot Password</h2>

<p>Please verify the request for a new password in your email account. </p>

<form action="/register/" method="post" enctype="multipart/form-data">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th scope="row" class="required">Username </th>
				<td>
					<input name="username" autofocus="autofocus" required="required" class="form-control" autocomplete="off" spellcheck="false" type="text">
				</td>
			</tr>
			<tr>
				<th scope="row">Email Address </th>
				<td>
					<input name="email" class="form-control" type="text">
				</td>
			</tr>
		</tbody>
	</table>
	
	<div align="center">
		<input class="btn btn-primary" name="form_sent" value="Verify" type="submit">
	</div>
</form>