<!-- <h2 class="text-center">Login</h2> -->

<$(login_error)/>
<div style="padding-left: 40%; padding-right: 40%" align="center">
	
	<form action="/login/" method="post" enctype="multipart/form-data">
		<$(form_elements)/>
		<p><input type="hidden" name="redirect_url" value="<$(redirect_url)/>" /><input type="submit" class="btn btn-primary" value="Log in" name="form_sent" /></p>
	</form>
	<p>
		<a href="/register/">Create a new Account</a><br /><br />
		<a href="">Forgot Password?</a>
	</p>
</div>

