<h2>Category Setting</h2>

<h4>Name: <$(category_name)/></h4>
<p>Enter or change the name of the category.</p>
<input type="text" name="categoryName"> <button class="btn btn-primary">Change Name</button>

<h4>Forums</h4>
<p>Click on the name of the existing posts under the category to make changes to the forum. </p>
<table class="table table-bordered theme_color">
	<thead>
		<tr style="background-color: #AAF">
			<th scope="col" width="10%">Edit</th>
			<th scope="col" width="50%">EamonBB</th>
			<th scope="col" width="100px">Topics</th>
			<th scope="col" width="100px">Posts</th>
			<th scope="col" width="100px">Popularity</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">Updates</a></td>
			<td style="background-color: #DDF" align="center" valign="center">1</td>
			<td style="background-color: #DDF" align="center" valign="center">1</td>
			<td style="background-color: #DDF" align="center" valign="center"><$(popularity)/></td>
		</tr>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">Database class news</a></td>
			<td style="background-color: #DDF" align="center" valign="center">1</td>
			<td style="background-color: #DDF" align="center" valign="center">1</td>
			<td style="background-color: #DDF" align="center" valign="center"><$(popularity)/></td>
		</tr>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">Compliments</a></td>
			<td style="background-color: #DDF" align="center" valign="center">1</td>
			<td style="background-color: #DDF" align="center" valign="center">2</td>
			<td style="background-color: #DDF" align="center" valign="center"><$(popularity)/></td>
		</tr>
	</tbody>
</table>

<h4>Delete Category</h4>
<p>This action is irreversible once applied. </p>
<button class="btn btn-danger">Delete</button>
