<h2>Forum Setting</h2>

<h4>Name: </h4>
<p>Enter or change the name of the forum.</p>
<input type="text" name="forumName"> <button class="btn btn-primary">Change Name</button>

<h4>Posts</h4>
<p>Click on the name of the existing posts under the category to make changes to the forum. </p>
<table class="table table-bordered theme_color">
	<thead>
		<tr style="background-color: #AAF">
			<th scope="col" width="10%">Edit</th>
			<th scope="col" width="50%">EamonBB</th>
			<th scope="col" width="100px">Replies</th>
			<th scope="col" width="100px">Views</th>
			<th scope="col" width="200px">Last Post</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">How to set up Slackware Linux</a></td>
			<td style="background-color: #DDF" align="center" valign="center">25</td>
			<td style="background-color: #DDF" align="center" valign="center">144</td>
			<td style="background-color: #DDF">2018-10-17<br /> by Eamon Johnson <a href="">eamon.johnson</a></td>
		</tr>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">How to blow up your Mac OS X</a></td>
			<td style="background-color: #DDF" align="center" valign="center">101</td>
			<td style="background-color: #DDF" align="center" valign="center">2442</td>
			<td style="background-color: #DDF">2018-10-17<br /> by Eamon Johnson <a href="">eamon.johnson</a></td>
		</tr>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">Jacob's secret recipe to your first PHP server</a></td>
			<td style="background-color: #DDF" align="center" valign="center">1506</td>
			<td style="background-color: #DDF" align="center" valign="center">370722</td>
			<td style="background-color: #DDF">2018-10-17<br /> by Eamon Johnson <a href="">eamon.johnson</a></td>
		</tr>
		<tr>
			<td>
				<button class="btn"><i class="fas fa-trash-alt"></i></button>
				<button class="btn"><i class="fas fa-pen"></i></button>
			</td>
			<td><i class="far fa-check-circle"></i>&nbsp;<a href="">Tips from Arbaz about using Google Hangouts</a></td>
			<td style="background-color: #DDF" align="center" valign="center">20334</td>
			<td style="background-color: #DDF" align="center" valign="center">1989423</td>
			<td style="background-color: #DDF">2018-10-17<br /> by Eamon Johnson <a href="">eamon.johnson</a></td>
		</tr>
	</tbody>
</table>

<h4>Delete Forum</h4>
<p>This action is irreversible once applied. </p>
<button class="btn btn-danger">Delete</button>
