<h2>Set New Password</h2>

<p>Set a new password for account: <$(username)/></p>

<form action="/register/" method="post" enctype="multipart/form-data">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th scope="row" class="required">Password</th>
				<td>
					<input name="password" required="required" class="form-control" type="password">
				</td>
			</tr>
			<tr>
				<th scope="row" class="required">Comfirm Password</th>
				<td>
					<input name="password-confirm" required="required" class="form-control" type="password">
				</td>
			</tr>
		</tbody>
	</table>
	
	<div align="center">
		<input class="btn btn-primary" name="form_sent" value="Change Password" type="submit">
	</div>
</form>