<h2>User Group Management</h2>

<$(notice)/>
<form action="/forums/admin/groups/" method="post" enctype="multipart/form-data">
	<h3>Assign user to group</h3>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th width="20%">
					Username
				</th>
				<td>
					<input type="text" name="username" />
				</td>
			</tr>
			<tr>
				<th width="20%">
					Group
				</th>
				<td>
					<select name="group">
						<$(group_dropdown_items)/>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	<p><input type="submit" name="update_user" value="Assign user" class="btn btn-primary" /></p>
</form>

<form action="/forums/admin/groups/" method="post" enctype="multipart/form-data">
	<h3>Delete Group</h3>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th width="20%">
					Delete group
				</th>
				<td>
					<select name="group_to_delete">
						<$(group_dropdown_items)/>
					</select>
				</td>
			</tr>
			<tr>
				<th width="20%">
					Reassign members to
				</th>
				<td>
					<select name="group_to_reassign">
						<$(group_dropdown_items)/>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	<p><input type="submit" class="btn btn-danger" name="delete_group" value="Delete Group" /></p>
</form>

<form action="/forums/admin/groups/" method="post" enctype="multipart/form-data">
	<h3>Add New Group</h3>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th width="20%">
					Group Title
				</th>
				<td>
					<input type="text" name="group_name" />
				</td>
			</tr>
			<tr>
				<th width="20%">
					User Title
				</th>
				<td>
					<input type="text" name="user_title" />
				</td>
			</tr>
		</tbody>
	</table>
	<p><input type="submit" class="btn btn-primary" name="add_group" value="Add new group" /></p>
</form>

<form action="/forums/admin/groups/" method="post" enctype="multipart/form-data">
	<h3>Group permissions</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr style="background-color: #AAF">
				<th scope="col">Group</th>
				<th scope="col">View forums</th>
				<th scope="col">Post topics</th>
				<th scope="col">Post replies</th>
				<th scope="col">Edit own posts</th>
				<th scope="col">Edit others&#39; posts</th>
				<th scope="col">Delete own posts</th>
				<th scope="col">Delete others&#39; posts</th>
				<th scope="col">Access administration panel</th>
			</tr>
		</thead>
		<tbody>
			<$(group_rows)/>
		</tbody>
	</table>
	<p><input type="submit" name="form_sent" value="Update" class="btn btn-primary" /></p>
</form>